.day-tools-menu li {
	color: black;
	background: transparent;
}
.day-tools-menu li.selected {
	background: #DFDFDF;
}

.day-tools-menu li img{
}
/*Window*/
.day-tools-windows {
	background: inherit;
}
.day-tools-windows ul {
	border-top: 0;
}

.day-tools-windows ul li {
	border: 0;
	border-top:0;
	color: #555;
	font-weight: 400;
}
.day-tools-windows ul li.selected {
	background: #DFDFDF;
	color: #000;
}
.day-tools-windows ul li img {

}


.day-tools-properties {
	background: #FAFAFA;
	border:5px solid #eee;
}
.day-tools-properties h3 {
}
.day-tools-properties h4 {
	color: #000;
	font-weight: bold;
}
.day-property-inner {
	background: inherit;
}
.day-property table td {
	color:#555;
}
.day-property .day-item-property.has-property:before {
	color:#000;
}
.day-property input {
	background: #fff;
	border:1px solid #ddd;
	color:#333;
}

.day-tools-timeline {
	background: #eee;
	color: #333;
}
.day-tools-timeline-head {
	background: #ddd;
}

.datl-scenes-head {
	background: #ccc;
}

.day-tools-timeline-play {
	background: #aaa;
}
.datl-scene {
	background: #eee;
	color: #333;
}
.datl-scene-add1, .datl-scene-add2  {
	background: #444;
}