

body {
	margin: 0;
	overflow: auto;
	
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
	
}
input, textarea {
	-webkit-user-select: text; /* webkit (safari, chrome) browsers */
	-moz-user-select: text; /* mozilla browsers */
	-khtml-user-select: text; /* webkit (konqueror) browsers */
	-ms-user-select: text; /* IE10+ */

}
.daylightAnimationLayer:before{
	position: absolute;
	content: "";
	border:1px dashed #ccc;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	box-sizing: border-box;
}

.day-tool {
	z-index: 5;
	font-family: sans-serif;
	color: #fff;
}
.day-tools-menu {
	position: fixed;
	background: #272726;
	width: 52px;
}
.day-tools-menu:hover {
}
.day-drag-draggable {
	width: 100%;
	height: 20px;
}
.day-tools-menu ul {
	padding:0;
	margin:0;
	list-style: none;
}
.day-tools-menu li {
	color:#fff;
	font-family: sans-serif;
	padding: 5px 10px 5px;
}
.day-tools-menu li.selected {
	background: #404040;
}
.day-tools-menu li {
	text-align: center;
}
.day-tools-menu li img {
	width: 32px;
}
.day-tools-properties {
	position: fixed;
	left:80%;
	background: #272726;
	width: 250px;
	color: #fff;
	font-family: sans-serif;
	padding:0px 10px 10px;
}
.day-tools-properties h3, .day-tools-properties h4 {
	margin: 0;
	padding: 0;
	
	margin-bottom: 10px;
	font-weight: 400;
}
.day-tools-properties h3 {
	font-size: 1em;
}
.day-tools-properties h4 {
	font-size: 0.8em;
	color:#eee;
}
.day-property {

}
.day-property-inner {
	background: #2C2C2C;
	padding: 10px;
}
.day-property table td {
	color:#ccc;
	font-size: 0.8em;
}
.day-property .day-item-property {
	width: 20%;
	padding:0px 10px;
	white-space: nowrap;
}
.day-property .day-item-property.has-property:before {
	content:'A';
	color:#fff;
	font-size: 0.8em;
}
.day-property input {
	background: #242424;
	border:0;
	color: #ddd;
	min-height: 20px;
	width: 100%;
	box-sizing: border-box;
	text-indent: 5px;
}


/*shape-figure*/
.day-shape-figure {
	position: absolute;
	border:1px dashed #72BCEB;
	display: none;
}
.day-shape-figure.show {
	display: block;
}



/*layer*/
/*
.day-tools-layers h3 {
	margin: 0;
	padding: 0;
	
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 1em;
}
.day-tools-layers {
	width: 200px;
	background: #272726;
	position: fixed;
	color:#fff;
	font-family: sans-serif;
	padding: 10px;
	top:200px;
}
*/
.day-tools-timeline .day-layers {
	list-style: none;
	margin:0;
	padding:0;
	border-top: 1px solid #333;
	overflow: auto;
	max-height: 100%;
	padding-bottom: 40px;
	box-sizing: border-box;
}
.day-tools-timeline .day-layer {
	border-bottom: 1px solid #333;
	font-size:0.9em;
	line-height: 30px;
	height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
}
.day-tools-timeline .day-layer:hover {
	background: #444;
}
.day-tools-timeline .day-layer.selected {
	background: #555;
}



/*timeline*/
.day-tools-timeline {

	box-sizing: border-box;
	background: #272726;
	width:100%;
	height: 200px;
	position: fixed;
	bottom:0;
	font-size: 0.9em;
}
.day-tools-timeline-head {
	position: absolute;
	width: 100%;
	top: -30px;
	height: 30px;
	background: #333333;
	padding: 5px;
	box-sizing: border-box;
}
.btn-preview, .btn-save, .btn-load, .btn-new {
	display: inline-block;
	padding:2px 10px;
}
.day-tools-timeline-left {
	position: relative;
	background: #3C3C3C;
	width: 200px;
	height: 100%;
}
.day-tools-timeline-left-head{
	padding:4px 0px;
	padding-left: 10px;
	height: 36px;
	box-sizing: border-box;
}
.day-tools-timeline-time {
	display: inline-block;
	padding: 5px 0px 5px 10px;
	font-size: 0.9em;
	vertical-align: middle;
}
.day-tools-timeline-play {
	display: inline-block;
	background: #272727;
	width: 70px;
	font-size: 0.8em;
	text-align: center;
	padding:2px;
	vertical-align: middle;
}
.day-keframes {
	position: absolute;
	top:0;
	right:0;
	width: calc(100% - 210px);
	width: -webkit-calc(100% - 210px);
	box-sizing: auto;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	background: #333333;
	border-left:1px solid #3D3C3C;
}
.day-keyframes-line {
	position:absolute;
	height: 100%;
	width: 1px;
	background: #3F6DBD;
	top:0;
	z-index: 4;
}
.day-keyframes-timeline-totalTime {
	position: absolute;
	height: 7px;
	background: yellow;
	width: 100px;
	top:0;
	z-index: 5;
}
.day-keyframes-timeline-totalTime .day-resize-draggable{
	width: 20px;
	position: absolute;
	right: 0px;
	height: 100%;
	background: #a3a300;
}

.day-keyframes-head {
	border-bottom: 1px solid #444;
	white-space: nowrap;
	background: #262424;
	height: 36px;
}

.day-keyframes-time {
	position: absolute;
	display: inline-block;
	width: 100px;
	line-height: 36px;
	padding-left: 10px;
	color:#999;
	font-weight: 300;
	font-size: 0.8em;
	box-sizing: border-box;
}
.day-keyframes-time:after {
	content:"";
	position: absolute;
	right:0;
	border-right:2px solid #666666;
	bottom: 0;
	width: 1px;
	height: 6px;
}
.day-keyframes-groups {
	height: 100%;
	height: calc(100% - 36px);
	height: -webkit-calc(100% - 36px);
	overflow-x: hidden;
	overflow-y: auto;
}
.day-keyframes-group {
	position: relative;
	height: 30px;
}
.day-keyframe {
	position: absolute;
	display: block;
	background: #222;
	width: 20px;
	height: 30px;
	box-sizing: border-box;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
.day-keyframe.has-keyframe {
	background: #7A5DB5;
}


.day-tool-dialog {
	display: none;
	box-sizing: border-box;
	background: #EBEBEB;
	width: 500px;
	z-index: 10;
	position: fixed;
	padding: 2px 20px 0px;
	color:#777;
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-150px;
}
.day-tool-dialog h1 {
	margin:10px 0px;
	font-weight: 300;
	font-size: 1.2em;
}
.day-tool-dialog textarea{
	width: 100%;
	height: 200px;
	border: 0;
	background: #F7F7F7;
}
.day-tool-dialog .day-btn-area {
	text-align: right;
	padding: 10px 0px;
}
.day-tool-dialog .day-btn {
	width: 70px;
	height: 28px;
	background: #FFFFFF;
	border:1px solid #ccc;
	margin-left: 10px;
}
.day-tool-dialog.show {
	display: block;
	
}

.datl-scenes {
	margin:10px 10px;
	overflow: auto;
	white-space: nowrap;
	padding:10px 0px;
}
.datl-scenes-head {
	background: #3B3C3B;
	padding:10px 10px;
}
.datl-scene, .datl-scene-add {
	display: inline-block;

}
.datl-scene {
/* 	border-top:20px solid #EBEBE9; */
	width: 120px;
	height: 80px;
	line-height: 80px;
/* 	padding-left:10px; */
	font-size: 14px;
	background: #333;
	color: #eee;
	border:1px solid #888;
	vertical-align: top;
	box-sizing: border-box;
	text-align: center;
}

.datl-scene:hover {
	border:1px solid #555;
}

.datl-scene-add {
	position: relative;
	vertical-align: top;
	height:80px;
	width: 80px;
/* 	background: #eee; */
}
.datl-scene-add1, .datl-scene-add2 {
	position: absolute;
	top:50%;
	left:50%;
	background: #eee;
}
.datl-scene-add1 {
	width: 6px;
	height: 20px;
	margin-left: -3px;
	margin-top: -10px;
}
.datl-scene-add2 {
	width: 20px;
	height: 6px;
	margin-left: -10px;
	margin-top: -3px;
}
.datl-scene.playing {
	border-color: #EE0F00;
}
.datl-scene.selected {
	border-color: #579EE8;
}