.day-tool-file-dialog {
	display: none;
	box-sizing: border-box;
	background: rgba(255, 255, 255,1);
	width: 700px;
	z-index: 10;
	position: fixed;
/* 	padding: 2px 20px 0px; */
	color:#777;
	top:50%;
	left:50%;
	margin-left:-350px;
	margin-top:-180px;
	height: 360px;
	border:1px solid #eee;
}
.day-tool-file-dialog.show {
	display: block;
}
.day-tool-file-dialog .menu {
	float: left;
	width: 200px;
	height: 100%;
	background: rgba(240, 240, 240, 0.8);
	border-right:1px solid #ddd;
}
.day-tool-file-dialog .menu h1 {
	color: #333;
	margin: 0;
	padding: 15px;
	border-bottom:1px solid #ddd;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 20px;
}
.day-tool-file-dialog .menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.day-tool-file-dialog .menu li {
	padding: 8px 15px;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
	color: #333;
	font-size: 14px;
}
.day-tool-file-dialog .menu li img {
	vertical-align: middle;
	width: 32px;
	margin-right: 10px;
}
.day-tool-file-dialog .menu li.selected {
	background: #E1E1E1;
}
.day-tool-file-dialog .table {
	position: relative;
	overflow: hidden;
	height: 100%;
}
.day-tool-file-dialog table {
	width: 100%;
	border-collapse:collapse;
}
.day-tool-file-dialog table th {
	text-align: left;
	padding: 8px 10px;
	font-weight: 400;
	font-size: 14px;
	color:#777;
}
.day-tool-file-dialog table th.date {
	width: 150px;
}
.day-tool-file-dialog table td {
	border: 0;
/* 	background: #eee; */
	padding: 5px 10px;
	font-size: 13px;
	line-height: 25px;
	color: #555;
}
.day-tool-file-dialog table td.icon {
	width: 25px;
	padding: 5px;
}
.day-tool-file-dialog table td.name {
	padding-left: 0;
}
.day-tool-file-dialog table td img {
	width: 25px;
	vertical-align: middle;

}

.day-tool-file-dialog table tr.selected td {
	background: #6DAF9E;
	color:#fff;
}

.day-tool-file-dialog .day-btn-area {
	position: absolute;
	bottom: 0;
	padding: 10px 10px;
	text-align: right;
	width: 100%;
	box-sizing: border-box;
}
.day-tool-file-dialog .day-btn {
	width: 70px;
	height: 28px;
	background: #FFFFFF;
	border:1px solid #ccc;
	margin-left: 10px;
}
